.homeHeader {
  display: flex;
  justify-content: space-around;
}

.homeHeader {
  font-family: bello-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

body {
  font-family: freude, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.homeContainer {
  display: flex;
  /* justify-content: space-around; */
  margin-top: 100px;
  justify-content: center;
}

.wishlistTotal {
  margin-left: 20px;
}

.wishlistSum {
  margin-left: 20px;
}

.toyCarLink {
  margin-top: -20px;
}

.storeContainer {
  display: flex;
  flex-direction: column;
  border: 3px double rgb(15, 15, 15);
  justify-content: center;
}

.newstoreImg {
  margin-top: -40px;
}

.makeupLink {
  margin-bottom: 40px;
}

.addYourOwnLink {
  margin-bottom: 70px;
}

.makeupLinkHome {
  margin-top: 20px;
}

.fakestoreImages {
  width: 200px;
}

.makeupItemContainer {
  padding: 30px;
  margin-bottom: 70px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.makeupRemoveButton {
  width: 150px;
  border-radius: 50px;
  border: 3px solid rgb(225, 148, 148);
  background-color: rgb(218, 94, 94);
  color: white;
  margin-bottom: 50px;
  transition: all 0.3s ease-in-out;
  padding: 7px 0;
  font-family: freude, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.makeupRemoveButton:hover {
  background-color: rgb(160, 0, 0);
  transition: all 0.3s ease;
  border: 3px solid rgb(218, 42, 42);
  transition: border 0.3s ease-out;
}

.clearAllButton {
  font-family: freude, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.fakestoreItemContainer {
  margin: 70px 0;
}

.makeupImages {
  margin-bottom: 30px;
  width: 200px;
}

.fakestoreImages {
  margin-bottom: 30px;
}

.fakestoreTitle {
  margin-bottom: 10px;
}

.makeupName {
  margin-bottom: 10px;
  text-align: center;
}

.makeupPrice {
  margin-bottom: 10px;
}

.fakestorePrice {
  margin-bottom: 10px;
}

.fakestoreJsProductContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fakestoreJsImages {
  width: 300px;
  margin-bottom: 40px;
}

.fakestoreJsTitle {
  margin-bottom: 10px;
}

.fakestoreJsPrice {
  margin-bottom: 10px;
}

.fakestoreJsDescription {
  margin-bottom: 15px;
  width: 500px;
}

.fakestoreJsAddButton {
  margin-bottom: 80px;
}

.makeupJsProductContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.makeupJsdescription {
  width: 500px;
  padding-left: 40px;
  padding-right: 40px;
}

.makeupJsImages {
  margin-bottom: 30px;
}

.makeupJsname {
  margin-bottom: 10px;
}

.makeupJsrating {
  margin-bottom: 10px;
}

.makeupJsprice {
  margin-bottom: 10px;
}

.makeupJsdescription {
  margin-bottom: 15px;
  font-size: 14px;
}

.makeupJsAddButton {
  margin-bottom: 85px;
}

.newItemLink {
  margin-top: 50px;
  text-decoration: none;
  /* transform: scale(1.2); */
  transition: all 0.3s ease-in-out;
}

.newItemLink:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.steamImage {
  margin-bottom: 30px;
}

.steamGamesLink {
  margin-bottom: 40px;
}

.allStoreContainer img {
  width: 700px;
  flex-direction: column;
}

.bodyDiv {
  height: 100vw;
}

.wishlistContainer {
  width: 30vw;
  border: 3px double black;
  margin-right: 10px;
}

.storeContainer {
  width: 300px;
  height: 300px;
  display: flex;
  text-align: center;
}

.storeContainer img {
  width: 200px;
}

.storesRow {
  display: flex;
  flex-direction: row;
}

.newItem-mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("https://media.istockphoto.com/vectors/abstract-white-smooth-lines-wave-background-vector-subtle-design-vector-id1176352359?b=1&k=6&m=1176352359&s=612x612&w=0&h=srXvxC9xUcLDR_Ntv4qvFcF8BmD1O_wDKGq1leA_9zw=");
}

.newItem-nameContainer {
  margin-top: 20px;
}

.newItem-priceContainer {
  margin-top: 20px;
}

.newItem-button {
  margin-top: 20px;
}

.navbar {
  height: 100px;
  width: 300px;
  background-color: darkolivegreen;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.navbar h2 {
  margin: 0;
}

.navbar-div {
  font-size: 24px;
  width: 100px;
  border-radius: 50px;
  background-color: red;
}

.fakeStore-mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://media.istockphoto.com/vectors/abstract-white-smooth-lines-wave-background-vector-subtle-design-vector-id1176352359?b=1&k=6&m=1176352359&s=612x612&w=0&h=srXvxC9xUcLDR_Ntv4qvFcF8BmD1O_wDKGq1leA_9zw=");
}

.fakeStore-button-div {
  display: flex;
  flex-direction: column;
}

.fakeStore-button {
  height: 30px;
  width: 100px;
}

.wishlist-buttons {
  padding: 5px 6px;
  margin-top: 5px;
  font-family: freude, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.wishlist-buttons-container {
  display: flex;
  justify-content: space-around;
  width: 400px;
  padding: 10px 8px;
  margin-top: 5px;
}

.seachBar {
  width: 200px;
}

.seachBar-div {
  display: flex;
  justify-content: center;
}

.clearAllContainer {
  display: flex;
  justify-content: space-around;
  padding: 10px 8px;
  margin-top: 5px;
}

.wishlistSearchbarContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.wishlistSearchbar {
  margin-bottom: 10px;
}

.gamesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}
.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-div img {
  height: 400px;
}

.toyCar-img {
  width: 300px;
}

.toyCar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.toyCar-name {
  margin-bottom: 10px;
}

.toyCar-price {
  margin-bottom: 10px;
}

.toyCar-button {
  margin-bottom: 80px;
}

<<<<<<< HEAD
.sortBy {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.sortBy h3 {
  margin-bottom: 0;
}
=======
.fakeStore-mainContainer h2 {
  font-size: 30px;
}

>>>>>>> 5d923cdac4ad9188a870444f6c9630ee74f276f3
