.homeHeader {
  display: flex;
  justify-content: space-around;
}

.homeContainer {
  display: flex;
  /* justify-content: space-around; */
  margin-top: 100px;
  justify-content: center;
}

.wishlistTotal {
  margin-left: 20px;
}

.wishlistSum {
  margin-left: 20px;
}

.storeContainer {
  display: flex;
  flex-direction: column;
  border: 3px double black;
}

.makeupLinkHome {
  margin-top: 50px;
}

.fakestoreImages {
  width: 200px;
}

.makeupItemContainer {
  padding: 10px;
  margin-bottom: 70px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.makeupRemoveButton {
  width: 150px;
  border-radius: 50px;
  background-color: darkred;
  color: white;
}

.fakestoreItemContainer {
  margin: 70px 0;
}

.makeupImages {
  margin-bottom: 30px;
  width: 200px;
}

.fakestoreImages {
  margin-bottom: 30px;
}

.fakestoreTitle {
  margin-bottom: 10px;
}

.makeupName {
  margin-bottom: 10px;
}

.makeupPrice {
  margin-bottom: 10px;
}

.fakestorePrice {
  margin-bottom: 10px;
}

.fakestoreJsProductContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fakestoreJsImages {
  width: 300px;
  margin-bottom: 40px;
}

.fakestoreJsTitle {
  margin-bottom: 10px;
}

.fakestoreJsPrice {
  margin-bottom: 10px;
}

.fakestoreJsDescription {
  margin-bottom: 15px;
  width: 500px;
}

.fakestoreJsAddButton {
  margin-bottom: 80px;
}

.makeupJsProductContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.makeupJsdescription {
  width: 500px;
}

.makeupJsImages {
  margin-bottom: 30px;
}

.makeupJsname {
  margin-bottom: 10px;
}

.makeupJsrating {
  margin-bottom: 10px;
}

.makeupJsprice {
  margin-bottom: 10px;
}

.makeupJsdescription {
  margin-bottom: 15px;
}

.makeupJsAddButton {
  margin-bottom: 85px;
}

.newItemLink {
  margin-top: 50px;
}

.allStoreContainer img {
  width: 700px;
  flex-direction: column;
}

.bodyDiv {
  height: 100vw;
}

.wishlistContainer {
  width: 30vw;
  border: 3px double black;
  margin-right: 10px;
}

.storeContainer {
  width: 300px;
  height: 300px;
  display: flex;
  text-align: center;
}

.storeContainer img {
  width: 200px;
}

.storesRow {
  display: flex;
  flex-direction: row;
}

.newItem-mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.newItem-nameContainer {
  margin-top: 20px;
}


.newItem-priceContainer {
  margin-top: 20px;
}

.newItem-button {
  margin-top: 20px;
}

.navbar {
  height: 100px;
  width: 300px;
  background-color: darkolivegreen;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.navbar h2 {
  margin: 0;
}

.navbar-div {
  font-size: 24px;
  width: 100px;
  border-radius: 50px;
  background-color: red;
}

.fakeStore-mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fakeStore-button-div {
  display: flex;
  flex-direction: column;
}

.fakeStore-button {
  height: 30px;
  width: 100px;
}

.wishlist-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.gamesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}